{% extends "base.html" %}

{% block title %}
    Liste des images
{% endblock %}

{% block content %}
    <div class="card p-3 m-3"><div class="card-body">
        <h5 class="card-title pb-3">Liste des images :</h5>
        <ul>
            {% for image in images %}
                {% if image.droits == droits %}
                    <li class='list-group-item'><a href="./img/{{image.fichier}}">{{image.titre}}</a></li>  <!-- href="{{ url_for('static', filename='img/' + image.fichier) }}" -->
                {% endif %}
            {% endfor %}
        </ul>
    </div></div>
{% endblock %}